.App {
  text-align: center;
}

.restart{
    position:absolute;
    top: 5%;
    left: 400px;
}

.playerOne {
    position:absolute;
    top: 10%;
    left: 350px;
}

.playerTwo {
    position:absolute;
    top: 10%;
    left: 650px;
}

.cardsList{
    height: 100px;
    width: 66px;
    float: left;
    margin: 1px;
}

.tableCardList{
    width: 210px;
}

.buttonGetCard{
    margin: 5px;
}

.counterBalance{
    position:absolute;
    top: 16%;
    left: 570px;
}

.header{
    position:absolute;
    left: 600px;
} 

.listOfSave{
    position:absolute;
    top: 6%;
    left: 600px;
}